.pageup {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    svg path {
        fill: var(--color-gold);
    }
    img {
        width: 100%;
    }
    &.change {
        svg path {
            fill: var(--color-dark);
        }
    }
}